{
  "presets": [
    "env",
    "react",
    "stage-2"
  ],
  
  "plugins": [
    "universal-import",
    "emotion",
  ],
  
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
